<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Number Two - Assignemnt 2</title>

<style>
body {
	padding: 5em 5em;
	text-align: center;
	margin: auto;
}
.image-spacing img {
text-align: center;
padding: 20px;
width: 200px;
height: 200px;
}
img:hover{
	cursor: pointer;
}
</style>

</head>
<body>
	<div class="image-spacing">
	<img th:src="@{/nahuel-profile.jpg}" onclick="window.location.href='/student/nahuel';">
	<img th:src="@{/vlad_img.jpg}" onclick="window.location.href='/student/vlad';">
	<img th:src="@{/giahuy_selfie.jpg}" onclick="window.location.href='/student/giahuy';">
	</div>
	<p th:text="${home_model.description}"></p>
</body>
</html>