<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Number Two - Assignemnt 2</title>

<style>
body {
	padding: 5em 5em;
	text-align: center;
	margin: auto;
}
.image-spacing img {
text-align: center;
}
</style>

</head>
<body>
	<div class="image-spacing">
	<img th:src="@{/profile-picture.png}" onclick="window.location.href='/student/nahuel';">
	<img th:src="@{/profile-picture.png}">
	<img th:src="@{/profile-picture.png}">
	</div>
	<p th:text="${home_model.description}"></p>
</body>
</html>